node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# Ignorar carpetas nativas para Prebuild
/android
/ios

# macOS
.DS_Store

# Temporary files created by Metro
.metro-health-check*
